.Calendar {
    font-family:Verdana;
    font-size:9pt;
    background-color:#EEE;
    text-align:center;
    width:90%;
    height:158px;
    line-height:1.5em;
    margin: 0 auto;
}
.Calendar a{
    color:#0066CC;
    font-weight:bold;
}
.Calendar table{
    width:100%;
    border:0;
}
.Calendar table thead{color:black;background-color:#8db1ff;}
.Calendar table td {
    font-size: 11px;
    padding:1px;
    text-align: center;
    cursor: pointer;
}

#idCalendarPre{
    cursor:pointer;
    float:left;
    padding-right:5px;
}
#idCalendarNext{
    cursor:pointer;
    float:right;
    padding-right:5px;
}
#idCalendar td.onToday {
    font-weight:bold;
    color:#C60;
}
#idCalendar td.onSelect {
    /*font-weight:bold;*/
    background-color:#090;
}